#Authentication
# BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=http://localhost:3000
# BETTER_AUTH_DISABLE_SIGNUP="false"

#Database
# DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5434/postgres?schema=app